.btn-plus{
    /* background-color: red; */
    height: 30px;
    width: fit-content;
    border-radius: 20px;
    border: none;
    padding: 4px;
    position: absolute;
    bottom: 30px;
    right: 15px;
    color: green;
}

.btn-moins{
    /* background-color: green; */
    height: 30px;
    width: fit-content;
    border-radius: 20px;
    border: none;
    padding: 4px;
    position: absolute;
    bottom: 30px;
    right: 15px;
}