.container_wrapper
{
    position: absolute;
    right: 5%;
    bottom: 3%;
    background-color:whitesmoke;
    height: 90%;
    width: 500px;
    display: flex;
    flex-direction: column;
    background: url(../../../src/assets/perspective-exterior-nobody-empty-box.jpg) ;
    /* box-shadow: inset; */
    /* background-color: rgba(128, 128, 128, 0.658);
     */
}

.chat_wrapper::-webkit-scrollbar {
  display: none;
}

.chat_wrapper
{
    height: 94%;
    overflow-y: scroll;
    
}

.input_wrapper{
    
    width:500px;
    height: 6%;
    margin: 10px -10px ;
    /* margin-right: 3px; */
}


.welcoming{
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 10px;
}


.userAccount{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width:110px ;
    padding-top: 30px;


} 

