.container_wrapper
{
    position: absolute;
    right: 3%;
    bottom: 3%;
    background-color:whitesmoke;
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    /* box-shadow: inset; */
    background-color: rgba(128, 128, 128, 0.658);
}

.chat_wrapper::-webkit-scrollbar {
  display: none;
}

.chat_wrapper
{
    height: 94%;
    overflow-y: scroll;
    
}

.input_wrapper{
    
    width:500px;
    height: 6%;
    margin: 10px -10px ;
    /* margin-right: 3px; */
}
